name: Self-Destruct Repo

on:
  workflow_dispatch:

jobs:
  delete:
    runs-on: ubuntu-latest
    steps:
      - name: Delete Repo
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          gh auth refresh -s delete_repo
          gh repo delete ${{ github.repository }} --confirm
